@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  background-color: #050505;
  color: #fff;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #050505;
  overflow: hidden; /* App-like feel */
}

/* Custom Scrollbar for Sidebar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}